.js-dropout-location{
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
}

/*.dropout-location{
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background-color: #eeeeed;
}
*/
.grid-route{
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  height: 550px;
  overflow-y: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #eeeeed;

  
}

.bus-route{
  font-family: roboto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.2s background-color;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
}

.bus-route:hover{
  background-color: rgba(255, 255, 255, 0.578);
}

.grid-title{
  margin-bottom: 0px;
  font-family:  roboto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eeeeed;
}

.title-bus{
  width: 170px;
  margin-left: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.cancel-route{
  width: 30px;
  margin-right: 10px;
}

.cancel-route:hover{
background-color: rgba(255, 255, 255, 0.603);
border-radius: 15px;
cursor: pointer;
}

.schedule{
  background-color: rgb(238, 238, 237);
  position: absolute;
  top:0px;
  bottom: 0;
  width: 320px;
  height: 1000px;
}


.direct-route{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}


.estimated-arrival-time{

  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(167, 167, 167);
  margin-left: 5px;
  width: 290px;
  border-radius: 10px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;

}

.estimated-arrival-time:hover{
  background-color: rgb(138, 138, 138);
  cursor: pointer;
}

.circle, .line{
  width: 40px;
}

.line{
  margin-right: 20px;
  width: 100px;
  margin-left: 10px;
}

.main-schedule{
  display: grid;
  margin-top: 0px;
  grid-template-rows: repeat(18,50px);
  row-gap: 10px;
  height:750px;
  overflow-y:auto;
  margin-left: 28px;
  margin-top: 20px;
}

.arrival-time{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.schedule-bottom{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline ;
}

.bus-time-table, .js-bus-time-table-1, .js-bus-time-table-2{
  position: absolute;
  width: 400px;
  background-color: #eeeeed;
  padding: 20px;
  left: 880px;
  border-radius: 10px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 10px;
  
}

.cancel-schedule-button{
  position: absolute;
  top: 10px;
  left: 1320px;
  background-color: rgb(167, 167, 167);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100px;
  

}

.cancel-schedule-button:hover{
  background-color: rgb(213, 213, 213);
  cursor: pointer;

}