body{
  margin: 0;
  overflow: hidden;
  position: relative ;
}

.top{
  background-color: #A6A6A6;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  margin: 0;
  z-index: 1;
}

.top-left{
  display: flex;
  flex-direction: row;
  margin: 0;
  }

  .web-name{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 42px;
    margin: 20px;
    margin-right: 10px;
    padding-top: 10px;
  }

  .logo{
    width: 65px;
    padding-top: 10px;

  }
  
  .div-map{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    left: 100px;
    top: 100px;    
  }

  .map{
    position: absolute;
    width: 1620px;
    z-index: -1;
    top: 0;
  }

  .map-route{
    position:absolute;
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: roboto;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    z-index: 2;
    margin: 20px;
    width: 300px;
    opacity: 0;
  }

  .cancel{
    position:absolute;
    z-index: 2;
    border: none;
    background-color: rgb(161, 161, 161);
    height: 40px;
    width: 150px;
    font-family: roboto;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    right: 0;
    border-radius: 20px;
    transition: background-color 0.1s;
    opacity: 0;
  }

  .cancel:hover{
    background-color: rgba(191, 191, 191, 0.397);
    cursor: pointer;
  }
  .top-right{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 260px;
  margin-top: 20px;
  height: 40px;
  width: 180px;
  margin-left: 970px;

  }

  .search-icon{
    position: absolute;
    width: 25px;
    z-index: 2;
    height: 40px;
    margin: 20px 0px 0px 30px;
    margin-right: 100px;
  }

  
  svg{
    color: #d9d9d9;
  }

  .search-icon:hover{
  color: white;    
  cursor: pointer;
  }
  

.search-bar{
  position: absolute;
  background-color: #737373;
  border: none;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 3px;
  
}

input{
  color: #d9d9d9;
  font-size: 20px;
  padding: 0;
  padding-left: 50px;
  padding-top: 3px;


}
input::placeholder{
  color: white;
  border: none;
  font-size: 20px;
}

input:focus{
  border: none;
  outline: none;
}

.left{
position: absolute;
left: 0;
top: 100px;
z-index: 2;
bottom: 0;
background-color: #A6A6A6;
width: 100px;
height: 680px;
display: grid;
justify-content:center;
align-items: center;
grid-template-rows: 160px 160px 160px;
}

.grid{
  display: flex;
  flex-direction: column;
  justify-content:center;
align-items: center;
transition: 0.1s background-color;
}

.grid:hover{
  background-color: rgba(249, 248, 248, 0.455);
  cursor: pointer;
}


.grid:focus{
  background-color: rgba(249, 248, 248, 0.455);

}
.icon{
  width: 50px;
  margin: 5px 5px 0px 5px;
}

.title{
  font-family: arial;
  padding-top: 10px;
}